[2020-05-14 21:10] danlsgiga opened #1 "Route53 provider"
Created this issue following the steps listed at [Implementing Providers](https://github.com/libdns/libdns/wiki/Implementing-providers)

[2020-05-14 21:45] danlsgiga commented on #1
@mholt, I also have the `caddy-dns` module ready... what's the best way to have it added to the caddy-dns org?

[2020-05-14 22:00] danlsgiga commented on #1
Went ahead and created https://github.com/danlsgiga/route53... can transfer ownership to the `caddy-dns` org whenever you want.

[2020-05-14 22:01] mholt commented on #1
@danlsgiga Great! This is fantastic. I got you all set up with the repositories and gave you maintain privileges on them.

Thank you!!

[2020-05-14 22:50] #1 closed

[2020-05-17 01:01] obynio opened #3 "Gandi provider"
Created this issue following the steps listed at [Implementing Providers](https://github.com/libdns/libdns/wiki/Implementing-providers).

I can add support for [Gandi](https://www.gandi.net/). Here is my part https://github.com/obynio/gandi

Feel free to comment 👍

[2020-05-17 01:02] obynio commented on #3
For the matter, I already support a [similar plugin](https://github.com/obynio/certbot-plugin-gandi) in Python for Certbot. The language may be different but the goal stays the same.

[2020-05-17 01:03] obynio commented on #3
I plan to work on the `caddy-dns` module once this is merged. I can transfer ownership of https://github.com/obynio/libdns-gandi to the caddy-dns org whenever you want.

[2020-05-17 01:20] mholt commented on #3
Awesome! I'll take a look soon. Did you find that the libdns package compatible enough with the Gandi API? I am trying to make sure what we have so far is compatible enough for future providers so we don't have to change it later.

[2020-05-17 01:34] obynio commented on #3
Imo the libdns package interfaces are great, they are simple to understand and versatile enough to be compatible with most of the providers. However I had troubles to implement them due to the strange design choices of the Gandi API. You can view it as an "edge case" that makes it hard to link with the libdns interfaces. I detailed these issues in my README but I can provide more details here if i

[2020-05-17 16:08] mholt commented on #3
Excellent, everything looks good! I _love_ that your implementation doesn't require any dependencies, that's awesome.

Thanks for your feedback. Quirks with provider APIs are expected, and I just wanted to ensure the interfaces could handle it gracefully, and I guess it does in this case, it's hard to work around that. Anyway, glad to hear that everything else is working :)

I've created libdns/ga

[2020-05-17 20:16] mdbraber opened #4 "TransIP provider"
Hi Matt - happy to write an implementation for TransIP

[2020-05-21 23:03] obynio commented on #4
@mdbraber in my humble opinion, I think the best would be to write your module for TransIP in a repository of your own before posting it here so Matt can review it. It should take a day or two, feel free to ask if you need help :slightly_smiling_face:

[2020-05-21 23:05] mholt commented on #4
That'll work, [or a pull request](https://github.com/libdns/libdns/wiki/Implementing-providers) is even better so I can make comments in-line if necessary.

[2020-05-22 10:22] mdbraber commented on #4
Yes, I'll write one in my own repository and submit a PR.

[2020-05-22 17:54] mdbraber commented on #4
See https://github.com/libdns/libdns/pull/5 for initial PR

[2020-05-22 18:04] mdbraber opened #6 "Implementing AcmeProxy provider which doesn't support getting or updating records"
I'm planning on using `libdns` for [acmeproxy](https://github.com/mdbraber/acmeproxy), which "proxies" TXT record Present/Cleanup requests at a central location to prevent spreading API credentials all over my network. I'm positive this will work fine using `libdns` internally to append/delete/set those records.

The other side of this to provide an Acmeproxy implementation of libdns for tools tha

[2020-05-22 18:58] mholt commented on #6
So, currently Caddy's use of libdns packages is in transition. Right now Caddy has a little wrapper inside it that implements an acme solver/provider interface. After I'm done rewriting the underlying acme package, that interface will be different, and it probably won't look like the Present/Cleanup you know today.

The only answer I can give you right now is, "Don't implement acmeproxy as a libdn

[2020-05-22 19:13] mdbraber commented on #6
I understand - my only objective would be that there's a way to implement acmeproxy as a dns01 challenge provider in Caddy. I'll keep an eye on how to do that in the future and will close this for now.

[2020-05-22 19:13] #6 closed

[2020-05-22 19:16] mholt commented on #6
Sounds good, please keep in touch so we can get it right! Thanks

[2020-05-22 19:42] mdbraber opened #7 "Explanation of 'zone' arguments and 'Name' in Record"
I'm trying to understand better how `libdns` is supposed to work by using an example.

- What is supposed to be contained in the `zone` string in the methods? Can this be any of example.com, subdomain.example.com and foo.subdomain.example.com?
- What is the `Name` field in a Record? Is it supposed to have the fqdn or just the sub part for this zone (guessing that would make the most sense)

In pra

[2020-05-22 20:00] mholt commented on #7
I'm not really an expert at this either, but I think this is up to the DNS provider and/or registrar. I think usually this is a registered domain. In any case, it's the zone in which the record operations should be applied.

Usually just the sub part. Again, I think the nuances here vary by record type and DNS provider (unfortunately).

Yes, Cloudflare is like that too, I noticed. My initial draft

[2020-05-22 21:14] mdbraber commented on #4
Done: https://github.com/libdns/transip - thanks for the support

[2020-05-22 21:14] #4 closed

[2020-05-22 21:20] mdbraber commented on #7
I guess it should be clear for those using the interface what is to be expected right? Otherwise it could be the case that someone uses the arguments  "subdomain.example.com" with name "foo", while someone else might use "example.com" as the argument with "foo.subdomain". Or should we always make sure we are handling this right?

They do vary as far as I can see, but isn't it so `libdns` is to be

[2020-05-22 21:43] mholt commented on #7
I agree it would be nice if it was the same for all providers, but I just don't know how to do that. I also don't know how much of an issue it actually is. Usually, a domain zone is a registered domain. (I think.)

[2020-05-23 05:51] miekg commented on #7
In DNS a 'zone' is the bit of the DNS tree you have control over (are authoritative for). A domain contains all zones under it. So I'm authoritative for `miek.nl`which is the zone I own, the `.nl` domain includes `miek.nl`, the `.nl` zone only consists of a few (mandatory) records and a whole slew of NS records to delegate bits.

For a resource record the naming is easier:

`www.miek.nl. IN 3600 A

[2020-05-24 00:37] mholt commented on #7
Thanks for the explanation @miekg - that is remarkably helpful!

When creating a resource record (i.e. `www` subdomain of `example.com` where `example.com` is the zone), I've noticed that most providers want only the `www` part in the Name field, and they append the zone to it.

Anyway, thanks; I think that clarifies the confusion, at least for me.

[2020-05-24 00:37] #7 closed

[2020-07-13 05:31] loganjohnlong opened #8 "Azure DNS provider"
Created this issue following the steps listed at [Implementing Providers](https://github.com/libdns/libdns/wiki/Implementing-providers)

[2020-07-13 05:36] mholt commented on #8
Awesome! Will look forward to reviewing the implementation!

[2020-07-19 18:35] PopeRigby opened #9 "DuckDNS provider"

[2020-07-20 05:56] SvenDowideit opened #10 "DigitalOcean provider"
I've just made a simple one, using https://github.com/digitalocean/godo as I want it to migrate a zone from DO to gandi

its at https://github.com/onaci/digitalocean

[2020-07-20 17:44] mholt commented on #10
Awesome! Just one note, add a godoc for the fields on the struct: https://github.com/onaci/digitalocean/blob/d0735c2503f081b26a95370dbcf669f1ffe8109e/provider.go#L13

Otherwise, LGTM. Is it alright if I make a repo for it in the `libdns` org and then you can move it there? It's important to the project that they're all in one place -- you'll of course be made an admin of the repo.

If you have a f

[2020-07-21 01:27] SvenDowideit commented on #10
yup, I'm happy to take care of pushing the code to libdnd/digitalocean, and writing a dns provider module for caddy too - if i run out of tuits, we can talk :)

[2020-07-21 02:03] mholt commented on #10
Cool, I made the repos and sent you invites!

[2020-07-21 04:16] SvenDowideit commented on #10
and of course I've just been hit with other things, so hopefully i'll get to it before monday :)

[2020-07-21 04:37] mholt commented on #10
No rush! Good luck.

[2020-07-24 17:37] lscgzwd opened #11 "DNSPOD Provider"
My repo: https://github.com/lscgzwd/libdns-dnspod

I want to push at libdns/dnspod.

I have tested the code.

[2020-07-24 18:17] mholt commented on #11
Awesome! At a quick glance, looks good, checks all the important boxes. Fill out a simple README when you have the chance.

Would you be willing to make an equivalent caddy-dns package so that it can be used in Caddy? Not required, but very useful and pretty easy to do: https://caddy.community/t/writing-new-dns-provider-modules-for-caddy/7786

[2020-07-24 18:17] #10 closed

[2020-07-25 02:28] lscgzwd commented on #11
I have finish the README, and already make the caddy-dns package: https://github.com/lscgzwd/caddy-dnspod

[2020-07-25 04:45] lscgzwd commented on #11
Pushed to libdns/dnspod ,  Can I push caddy-dns/dnspod ?

[2020-07-25 05:27] mholt commented on #11
Yep! Repo made, and sent you the invite. Thanks again! When you're done pushing it (make sure the Go module path is updated in go.mod) you can register it on the Caddy website so people can easily use it.

[2020-07-25 08:58] lscgzwd commented on #11
Thanks!
I have pushed to caddy-dns/dnspod and registered it on the Caddy website.

[2020-07-25 15:17] mholt commented on #11
Excellent, thank you!! That's awesome.

[2020-07-25 15:17] #11 closed

[2020-09-07 09:37] obynio commented on #3
Hello @mholt

How can we get this module to get listed [on the wiki](https://caddyserver.com/docs/modules/) and on [the download page](https://caddyserver.com/download) ?

[2020-09-07 09:56] obynio commented on #3
Nevermind, I found it. You can claim your module by [creating an account](https://caddyserver.com/account/) on the website and it will automatically get listed.

[2020-09-07 09:56] #3 closed

[2020-09-12 21:38] delthas opened #12 "Clarify libdns API regarding DNS records names being absolute or relative"
Hi,

It is unclear whether the DNS record names (`libdns.Record.Name`):
1) use the standard "dot-suffix" relative/absolute notation (eg if zone FQDN is `example.org.` then `subdomain.example.org.` -> `subdomain.example.org` ; `subdomain` -> `subdomain.example.org`)
2) always use absolute paths implicitly (`subdomain.example.org` -> `subdomain.example.org`)

I think 1) is better as it directly refl

[2020-09-14 12:03] wolfedale opened #13 "OpenStack designate DNS provider"
I would like to try to wite dns provider for OpenStack Designate.

[2020-09-14 18:04] mholt commented on #12
Thanks for bringing this up. I think I had noticed this somewhere along the way but lost track of it before I did anything about it because of everything else going on recently.

I can see how we'll need to standardize this... I actually was thinking of (1) when I designed these interfaces. Yet, when I implemented the new DNS solver into CertMagic recently, [I used the full domain name (sans trail

[2020-09-14 19:04] crazy-max commented on #12
@mholt I think https://github.com/go-acme/lego/tree/master/providers/dns could help there.

[2020-09-14 19:19] mholt commented on #12
@crazy-max In what way? The limitations and difficulties with that code base are the reason why I designed libdns.

[2020-09-14 19:21] ncw commented on #12
If you are a defining a zone file for use with multiple domain names then you want the relative form and the absolute form.

I don't know whether libdns exposes that functionality though, but even if it doesn't the hosting provider may.

[2020-09-14 20:09] mholt commented on #12
@ncw The libdns interfaces take a zone name as input as well as the list of records to manipulate within that zone. The actual implementation is up to whatever the DNS provider APIs allow/require.

[2020-09-14 22:25] ncw commented on #12
If you wanted to fully model what bind does then you would need an extra concept. In bind the zone isn't attached to any particular host name. You do that separately. This is where the difference between relative and absolute addresses are important. Relative addresses have the current host name tacked on, absolute ones don't.

I designed Memset's DNS API to model this: https://www.memset.com/apid

[2020-09-15 18:13] mholt commented on #12
Thanks Nick -- we don't need to completely replicate bind's model for DNS records, but we do need something that works with most DNS provider APIs and gives people the flexibility to append, set, delete, and update DNS records.

Ideally we wouldn't have to add more input parameters to the interface methods. Is it OK if we just keep the zone input and then document that the implementation needs to

[2020-09-15 20:44] ncw commented on #12
I think that sounds fine.

I note that you didn't define what the zone id actually is anywhere.

I imagine it would be a host name for some providers but might be a uuid for others?

😃

[2020-09-16 18:40] mholt commented on #12
Host name. We need it to be the same to users, regardless of providers. So probably a domain name, not a provider-specific UUID.

[2020-09-17 15:48] obynio commented on #9
Hello, feel free to post here your work on the DuckDNS integration in libdns
We can then create a repository and give you access to it 👍

[2020-09-17 15:48] obynio commented on #8
Hello, feel free to post here your work on the DuckDNS integration in libdns
We can then create a repository and give you access to it 👍

[2020-09-17 15:49] obynio commented on #13
Hello, feel free to post here your work on the OpenStack DNS integration in libdns
We can then create a repository and give you access to it 👍

[2020-09-18 08:59] wolfedale commented on #13
Hi, I think I'm close with the code. I hope I will create a PR soon :-)

[2020-09-24 14:43] wolfedale commented on #13
I just created PR [https://github.com/libdns/libdns/pull/14]

[2020-09-25 12:39] obynio commented on #13
@mholt

[2020-09-25 21:45] mholt commented on #13
I barely had a chance to start a review, I will finish it soon!

[2020-10-06 18:21] matthiasng opened #15 "HetznerDNS provider"
PR coming soon.

[2020-10-06 18:35] mholt commented on #15
Awesome, looking forward to it!

[2020-10-10 11:32] afoo commented on #15
@matthiasng I'm also interested in having this, let me know if I can help

[2020-10-10 21:59] matthiasng commented on #15
@afoo ty. Im nearby done but feel free to test/review the PR. At the moment i only have to impl and test the pagination for get records/zones

[2020-10-12 14:55] matthiasng opened #17 "Provider template"
It would be nice to have a template for new providers with some basic tests.
This would reduce the effort required to implementing a new provider.

The template could also include a provider.go some basic example, a README and a LICENCE.

[2020-10-12 20:41] #15 closed

[2020-10-15 23:25] matthiasng commented on #12
From the view of API design i would vote to use only one of those.

Disclaimer: I'm pretty new to all this DNS stuff, so please correct me if i'm wrong or missed something:

* Names relative to the zone sould be fine. I cannot see any downside here.
[code]

* I'm not sure about absolute names because of the additional `zone` parameter in the API
[code]
  but what if i change the zone to `example.N

[2020-10-17 07:32] viscropst opened #18 "Alibaba Cloud DNS Provider"
Created this issue following the implementing guide. And working on it with [api doc](https://help.aliyun.com/document_detail/29755.html?spm=a2c4g.11186623.6.641.5aeb5eb4NCs6PB)

[2020-11-02 18:02] Xinayder opened #20 "Vultr DNS provider"
I'd like to be assigned this task to add the DNS provider for Vultr.

[2020-11-18 03:31] viscropst commented on #12
Names relative in Chinese DNS providers (DNSPOD,Alibaba DNS,etc.) like a standard, if you want to get an acme challenge for domain 'yx.viscrop.top' the complete domain is '_acme-challenge.yx.viscrop.top'.If caddyserver put '_acme-challenge.yx.viscrop.top'
to an record name,DNSPOD's API will return the error in Chinese '子域名级数超过限制' translate to English is 'sub-domain levels out of limits',So the rec

[2020-11-18 18:39] mholt commented on #12
Thanks for the feedback so far!

It looks like the consensus is to make the record name **relative**. We still need to know the zone, though, correct?

Can we verify that providers will not lose flexibility with regards to wildcards, for example, if we use relative names?

[2020-11-19 12:32] viscropst commented on #12
Something update of sub-domain's levels,the limits of sub-domain's is depend on your DNS Provider's subscription,because of I'm using the free subscription of DNSPOD so I have only 3 levels of sub-domain. But record Names relative in Chinese DNS providers like a standard is truth.

For domains with wildcards, In the free subscription of  Alibaba Cloud DNS and DNSPOD,I will have at least one levels

[2020-11-28 21:54] #20 closed

[2020-11-28 21:55] Xinayder commented on #20
https://github.com/libdns/vultr
https://github.com/caddy-dns/vultr

[2020-12-01 16:28] mholt commented on #12
Been giving this some thought.

Currently the libdns APIs accept a `zone` parameter and either accept or return a `[]Record` parameter.

Based on what hasa been said thus far, I believe this API will continue to work, and we need only to clarify that record names are relative to the given zone.

As to what @ncw said:

I think I agree; I want to keep libdns simple, and I don't currently realize any

[2020-12-06 01:18] #18 closed

[2020-12-08 10:34] matthiasng opened #22 "INWX Provider"
https://www.inwx.de/

PR coming soon.

[2020-12-18 04:20] uniphil opened #23 "LunaNode Provider"
Hoping I can get this working :)

[2020-12-20 23:01] francislavoie commented on #9
I wrote an initial implementation here: https://github.com/francislavoie/duckdns, I haven't tested it yet. WIP.

FYI @mholt if you wanted to take a quick peek.

[2020-12-21 00:30] mholt commented on #12
It looks like CertMagic, the primary caller/user of `libdns` functions so far, is getting the DNS record name of the ACME challenge record from the ACME server directly, which is basically the full domain name: `_acme-challenge.foo.example.com`. So it will simply have to do `strings.TrimSuffix(name, "."+zone)`. (Correct me if I'm wrong.) Thus the record's Name field would become `_acme-challenge.f

[2020-12-21 01:57] francislavoie commented on #9
Alright, it's ready to go! Works for me:

[code]

Caddyfile:
[code]

[2020-12-21 17:02] mholt commented on #9
Awesome!! Thanks Francis! This will help a lot of people.

I went ahead and made the repos for your duckdns code. (Make sure to update any import paths that use the francislavoie account to use the new libdns/caddy-dns orgs.)

I believe that closes this up.

[2020-12-21 17:02] #9 closed

[2020-12-22 04:30] francislavoie commented on #9
Alright it's pushed

[code]

[2021-01-07 14:05] mholt commented on #12
In preparing CertMagic for this adjustment, then, I ended up with this function, which I will add to the `libdns` package:

[code]

I am writing tests for it now and am not sure how to handle a couple of things.

1) If FQDN is `example.com` and zone is also `example.com` (either with or without trailing dot), should we return `""` or `"@"`?
2) If FQDN is `example.com` but zone is `example.net` (i.

[2021-01-23 11:14] kurokobo commented on #8
@loganjohnlong
Thank you for creating this Issue.

Just to confirm, is there any update about your project?

I mean, currently, I'm also creating a libdns provider for Azure DNS for my personal use and it's almost done ([here](https://github.com/kurokobo/libdns-azure) and [here](https://github.com/kurokobo/caddy-dns-azure)), therefore I'm considering that I should make my implementation open to th

[2021-01-25 15:23] loganjohnlong commented on #8
@kurokobo Go ahead and submit yours if you have working code. I haven't had a chance to work on this at all.

[2021-01-25 15:23] #8 closed

[2021-01-25 16:19] kurokobo commented on #8
Thank you for the quick reply.
Then I will proceed the procedure with my code. Thank you.

[2021-01-25 16:26] kurokobo opened #24 "Azure DNS Provider"
Add new provider for [Azure DNS](https://azure.microsoft.com/en-us/services/dns/).

[2021-01-27 12:26] kurokobo commented on #24
@mholt
Thank you for your support.
I've pushed my codes in [libdns/azure](https://github.com/libdns/azure) and [caddy-dns/azure](https://github.com/caddy-dns/azure) as `v0.1.0`, and I've tested those new repos work well with Caddy running in my container :)

Is there anything I need to work on to add Azure provider to the [download page](https://caddyserver.com/download) and [module list](https://

[2021-01-27 16:55] mholt commented on #24
Cool, looks great!

To add it to the download page, just log in to your Caddy account (sign up if you don't have one already) and then click Register Package and fill out the couple of fields.

[2021-01-27 16:55] #24 closed

[2021-01-27 18:44] #13 closed

[2021-01-28 00:22] kurokobo commented on #24
Thank you, I have completed the registration of the package. It's all done 👍

[2021-02-09 20:36] aslmx commented on #22
Any news? :)

[2021-02-11 02:15] mholt commented on #12
There has been no feedback so I will assume that my implementation is correct. Unless there is new feedback soon, I will go ahead and push these changes probably this week or next, at which point changes may be required in existing DNS provider packages.

I will do my best to help update them, but I'd feel better about this with more feedback first.

[2021-02-11 18:10] matthiasng commented on #12
Hey @mholt, sry for the late response.

[DOMAIN NAMES - rfc1035](https://tools.ietf.org/html/rfc1035) states the following: _A free standing @ is used to denote the current origin._
I think in both cases, some providers needs to implement special handling, but i feel an "at" is more convenient for the user. What do you mean ?

Consider the following:
[code]
This would lead to `Record.Name == "exam

[2021-02-11 21:03] mholt commented on #12
@matthiasng Thanks for the feedback! A bit refreshing to not be working on this in a vacuum. :)

I think in both cases, some providers needs to implement special handling, but i feel an "at" is more convenient for the user. What do you mean ?

Yeah, something like that. So which is better to use, the "@" or the empty string? Obviously, individual DNS providers will need to adjust based on what the

[2021-02-11 23:06] matthiasng commented on #12
Maybe i messed up my thoughts a bit. I think it is fine as it is (returning the input), because you are right, my example has just an input error.

The only way i can think of to handle the input error in this case is to distinguish FQDN and relative names by the trailing dots.

If libdns accepts FQDN's, the zone argument feels a bit redundant but i thinks that's fine.

I also want to add another

[2021-02-12 17:56] mholt commented on #12
Why is that? I'm probably missing something obvious, but some APIs require you to specify the zone you're working with. How can you reasonably extract the zone implicitly from the FQDN (i.e. without extra DNS lookups, API requests, TLD lists, those kinds of things).

Ah, yeah, so in libdns case we expect the caller to get this information first. CertMagic -- which is libdns' primary importer right

[2021-02-13 10:25] matthiasng commented on #12
I was a bit fixated to DNS Challenges. You are right. Most, if not all, DNS API's requires the fqdn/relative name and the zone.

I did a quick search through lego's dns provider implementation and i can clearly say the following:
There is no pattern. Half of them are using FQDN's some are using relative names and even some others wants FQDN without a trailing dot.
So after thinking twice, my concl

[2021-02-15 15:51] lscgzwd commented on #12
i think there are two styles:

the sub. i.e. sub.example.com should be sub
the full. i.e. sub.example.com should be sub.example.com
and for CNAME, some dns provider need the last point(.) . i.e. sub.example.com CNAME to www.example.com. it should be www.example.com. and some dns provider do not need the last point.

[2021-02-16 14:39] sstamoulis opened #26 "dynv6 provider"
Creating libdns provider for [dynv6 REST API](https://dynv6.github.io/api-spec/)

[2021-02-23 14:11] Xinayder commented on #12
From experience with Vultr, if you type `relative.domain.com.`, it won't accept, but if you type `relative.domain.com` it will just show up in the list as `relative`. With Namecheap I think you can type both the FQDN and the relative one and it will work.

I think we can support both, i.e., if you add a record `sub` it should be converted to `sub.domain.com`, and if you type `sub.domain.com` it gi

[2021-02-23 22:56] #26 closed

[2021-02-24 03:19] mholt commented on #12
Thanks for the discussion. This has been very helpful. I've submitted #28 which I believe should resolve this ambiguity for the most part.

There are still some edge cases left like what to do about trailing dots (can we assume that `example.com == example.com.`? maybe not?) and `@` names. But we can cross those bridges when we come to them.

[2021-02-24 17:36] #12 closed

[2021-02-24 17:52] mholt commented on #17
Done at https://github.com/libdns/template

[2021-02-24 17:52] #17 closed

[2021-03-03 08:25] matthiasng commented on #22
I was waiting on #12.
Less time and much work, but i think i can implement it till end of march ⏳

[2021-03-24 18:24] kip-13 opened #30 "Name provider"
The api could be consumed from this official client https://github.com/namedotcom/go.

Im going to try to create the support for this provider.

[2021-04-13 19:30] tombish opened #31 "Mythic Beasts Provider"
Have started work on [Mythic Beasts](https://www.mythic-beasts.com/) provider.

[2021-04-18 05:11] justenb opened #32 "namedotcom provider"
I have implemented a name.com provider, will submit PR.

[2021-04-19 21:28] #32 closed

[2021-04-19 21:29] mholt commented on #30
I think @justenb beat you to it. https://github.com/libdns/libdns/pull/33

[2021-04-19 21:29] #30 closed

[2021-04-19 21:50] kip-13 commented on #30
OH!

Amazing @justenb!

[2021-05-11 01:18] nrfox opened #34 "Namecheap Provider"
Implementing the [Namecheap](https://www.namecheap.com/) provider.

[2021-05-15 21:03] justinvdk opened #35 "Leaseweb Provider"
Implementing [Leaseweb](https://leaseweb.com/) provider.

[2021-05-18 16:43] justinvdk commented on #35
PR opened: #36

[2021-05-18 16:57] #35 closed

[2021-05-25 06:24] kmpm opened #37 "Loopia provider"
I am in the process of implementing a provider for loopia.se

[2021-05-25 06:40] kmpm opened #38 "How about adding priority to the Record struct?"
If you would like to use libdns for something like MX records it would be really nice to have some kind of way to manage priority.

[2021-05-25 08:14] gedw99 opened #40 "google domains"
wondering if a plugin for google domains and its DNS is needed ?

[2021-05-25 15:22] mholt commented on #38
True, we could add an optional Priority field to the Record struct. Do you have an actual need for this?

[2021-05-25 15:30] #37 closed

[2021-05-26 06:41] kmpm commented on #38
No current need.
But if it's gonna be one lib to rule them all then it will be necessary.

[2021-05-26 19:58] #38 closed

[2021-05-26 19:58] mholt commented on #38
I've added a Priority field. If that looks good, I can tag v0.2.1 I guess.

[2021-05-31 12:57] kmpm commented on #38
Good enough for me.

[2021-06-02 14:17] brockwood opened #41 "Google Cloud DNS Provider"
I'm planning on implementing the [Google Cloud DNS](https://cloud.google.com/dns) provider.

[2021-06-03 18:55] #41 closed

[2021-06-12 13:42] rugk opened #43 "deSEC.io provider"
https://desec.io/ is awesome and has a pretty good featurefull REST api: https://desec.readthedocs.io/en/latest/dns/domains.html

It would be great if you could support it.

Downstream: https://github.com/mholt/caddy-dynamicdns/issues/8

[2021-06-12 13:47] rugk opened #44 "Unit tests for providers (and template)"
I've skimmed [across your implementation doc](https://github.com/libdns/libdns/wiki/Implementing-providers) and especially [your template repo](https://github.com/libdns/template), and I wonder whether some simple unit tests (included in the template) would not be a good idea?
Maybe also directly include a GitHub Action to run these tests in a CI.

As such, IMHO; this would make developing a new p

[2021-06-12 14:49] francislavoie commented on #40
I would recommend using DNS challenge delegation for Google domains, since they don't have a sensible API. The `duckdns` plugins explicitly supports this:

https://github.com/caddy-dns/duckdns#challenge-delegation

[2021-06-12 16:03] mholt commented on #44
Yeah, that'd be a good idea, although, it's not super clear to me what "unit tests" would look like, since the output of each function is an external side effect on the network. We'd probably need mocks, which have to be customized for each provider... I hesitate to do DNS lookups since we've found they're extremely finicky in CI and people's various dev machines because people have the most convo

[2021-07-13 20:56] nathanejohnson opened #45 "pdns provider"
I have initial support for a powerdns (pdns) libdns provider.  PR incoming.

[2021-07-14 01:27] #45 closed

[2021-07-18 01:22] nathanejohnson commented on #38
I know this is closed, but having just created a provider for powerdns does this mean I (as well as all other providers) need to parse out the priority in the responses back from upstream and convert it to the new format?  Should it support both formats on the way in?  Also, since 0 is a valid priority for an MX record, knowing which format the user is giving us gets slightly tricky.  Some guidanc

[2021-07-19 14:17] mholt commented on #38
@nathanejohnson

What "format"? Can you be more specific?

That doesn't make any sense, what do you mean "MX of"?

[2021-08-01 02:44] FuzzyMistborn opened #47 "Linode Provider"
Would love to have the Linode provider added: https://developers-linode.netlify.app/api/v4/

[2021-08-02 16:55] jandelgado opened #48 "IONOS Provider"
Add support for the IONOS DNS API

https://developer.hosting.ionos.de/docs/dns

[2021-08-02 20:19] #48 closed

[2021-08-18 06:12] prologic opened #50 "Validation of inputs?"
Hi 👋

I've recently built a [CoreDNS](https://coredns.io/) library for [libdns](https://github.com/libdns) over at [libdns-coredns](https://git.mills.io/prologic/libdns-coredns).

For some background, CoreDNS has a backend plugin called [etcd](https://coredns.io/plugins/etcd/) that is capable of serving records and entire zones out of an etcd kv cluster. Turns out this is pretty generally useful (

[2021-08-18 19:14] mholt commented on #50
I suppose it depends on what defines "rubbish records." I would probably start by writing test cases demonstrating examples of what is and isn't allowed, then make sure they pass. Does that make sense / answer your question?

[2021-08-19 01:14] prologic commented on #50
No not quite, that's a typical response to a "How do I test for X" 😂 -- I'm more asking about what guidingprincipless does the libdns library and interface didcate for validating inputs? It seems like that's either a) none or b) implementation specific

Which I'm fine with 😀

It's more of an open ended question; Should we define some rules? Should we tighten up the interface? etc
Or more specifica

[2021-08-19 19:02] mholt commented on #34
Done in #51.

[2021-08-19 19:02] #34 closed

[2021-08-19 19:04] mholt commented on #50
I think probably everything is implementation-specific, since there's no standards for provider APIs, right?

Or more specifically could/should libdns.Record (the struct) have a .Validate() method that returns an error if the record is not valid?

What makes a record invalid, though? And how do we guarantee it's the same for all possible DNS providers/origins?

[2021-08-19 22:25] prologic commented on #50
I thought DNS was the same no matter what the provider 😁

[2021-08-19 22:42] mholt commented on #50
That is definitely not true.

And I'm actually talking about DNS _APIs_ since that's what libdns interfaces with, not DNS itself.

[2021-08-19 23:03] prologic commented on #50
Ahh I see. Yeah maybe I wasn't clear, I was specifically talking about validating the fields of the Record struct, like Type, Name and Value.

[2021-08-19 23:03] prologic commented on #50
I could be wrong but pretty sure those are defined in the relevant RFC(s)?

[2021-08-19 23:09] mholt commented on #50
DNS is, but libdns isn't concerned with actual DNS: just APIs. It's not a DNS server. While DNS servers should enforce DNS semantics, libdns is just to shuttle API payloads back and forth using a simple API revolving around DNS, but it doesn't care about the actual data/payload.

[2021-08-20 01:57] prologic commented on #50
Right. I see where we've got our wires cross... Let me try to explain. In my specific implementation I've basically adding KV pairs to a distributed key/value database (etcd). There is a defined structure for these records but there is no validation on any of the data. Make sense?

So hence my question 😉 But I'm happy to close this discussion as "implemtnation specific"; you are right.

[2021-08-20 01:57] #50 closed

[2021-08-20 21:53] mholt commented on #50
Yeah, it definitely does seem specific to the implementation then. Thanks for the raising the question.

[2021-09-16 21:43] anderspitman opened #52 "Any chance of adding additional interfaces?"
I'm fiddling around with building a "frontend" for libdns (think rclone for DNS). It would be useful (maybe necessary) for the tool to be able to list all available zones for a given provider account. Is something like this within the scope of the project? If not, any suggestions for where to look next?

[2021-09-16 22:33] mholt commented on #52
We could do that. It doesn't have to be something we add right away though. Do you have a proposed method signature? If so, go ahead and describe it and even implement it if you want to. Then people can still use it even if we don't define it in this package (for now).

[2021-09-17 04:07] anderspitman commented on #52
@mholt my hacked together prototype looks something like this:

[code]

That's pretty much all I need. That enables listing out the domains available, which can then be interrogated individually to manipulate records.

[2021-09-17 04:14] anderspitman commented on #52
Also, I'm not sure "zones" is the right terminology here. Some APIs only return domains. My understanding is that is the more constrained term, so it might be more appropriate.

[2021-09-17 14:25] mholt commented on #52
Hmm, I don't really understand the difference between "zones" and "domains" in that regard (as far as provider APIs go)...

And that looks pretty good, except for the sake of bikeshedding, how about `ZoneLister` instead, with the method name `ListZones`? :man_shrugging:

[2021-09-17 15:50] anderspitman commented on #52
Ha, I bikeshedded that exact choice for a few minutes last night. I agree ListZones is better.

[2021-12-12 21:49] BertoldVdb opened #53 "CoreDNS/Redis provider"
Hello,

CoreDNS has a feature to query a Redis instance for zone information. It seems support for managing the data in Redis is useful in libdns. You can see what the CoreDNS plugin expects here: https://coredns.io/explugins/redis/

I will start work on this somewhere next week.

Sincerely,
Bertold

[2021-12-27 17:29] wizardrix opened #54 "Netcup Provider"
Hi,
it seems as if there is no [netcup](https://www.netcup.de/) provider implementation yet, so I'm starting one :)

[2022-01-05 01:09] vaidd4 opened #55 "OVHcloud Provider"
Hi, support for [OVH](https://ovhcloud.com) (renamed OVHcloud) would be nice.

OVH api: https://docs.ovh.com/gb/en/api/first-steps-with-ovh-api/

Lego page for reference: https://go-acme.github.io/lego/dns/ovh/

I might try making a pull request for it.

[2022-01-10 19:29] #54 closed

[2022-01-21 21:28] artknight opened #57 "GoDaddy Provider"
# GoDaddy module for Caddy

This package contains a DNS provider module for [Caddy](https://github.com/caddyserver/caddy). It can be used to manage DNS records with GoDaddy accounts.

## Caddy module name

[code]

## Config examples

To use this module for the ACME DNS challenge, [configure the ACME issuer in your Caddy JSON](https://caddyserver.com/docs/json/apps/tls/automation/policies/issuer/ac

[2022-02-20 19:42] Niallfitzy1 opened #60 "Porkbun provider"
Port of [Porkbun](https://go-acme.github.io/lego/dns/porkbun/)

I'll make an attempt at it myself

[2022-03-08 10:08] victorlap opened #62 "Mail-in-a-box Provider"
For https://mailinabox.email/

See https://mailinabox.email/api-docs.html#tag/DNS

[2022-03-08 20:09] #57 closed

[2022-03-23 18:42] vbsd opened #63 "Joohoi's ACME-DNS provider"
ACME-DNS is a simplified DNS server that only allows setting TXT values. Only up to two records exist at a time, the older ones get deleted automatically. It is meant to be used for solving ACME DNS challenges. More information:

* https://github.com/joohoi/acme-dns
* https://www.eff.org/deeplinks/2018/02/technical-deep-dive-securing-automation-acme-dns-challenge-validation

Any implementation of

[2022-03-24 18:11] #63 closed

[2022-03-25 11:24] kmpm opened #65 "Provider for Glesys"
Hi, I have made a provider for Glesys that currently resides in https://github.com/kmpm/libdns-glesys .
I also manage libdns/loopia if that is to any help for you.

A caddy-dns module is on it's way as well.

[2022-04-06 18:24] jroyalty opened #66 "Handling records with multiple answers"
How should provider implementations handle records with multiple answers?  In particular, how should `rec1` be mapped to `libdns.Record`s?

[code]
I can envision a couple of solutions, but I'm wondering: What do (or should) consumers of the libdns API expect?  I wasn't 100% clear from reading the docs.

[2022-04-07 22:43] mholt commented on #66
The libdns APIs use slices ([`[]Record`](https://pkg.go.dev/github.com/libdns/libdns#Record)), so for example, `GetRecords()` would return a slice of 3 `A` records in that case.

(Hopefully that answers the question. Closing the issue, but feel free to continue discussion, and we will reopen if needed.)

[2022-04-07 22:43] #66 closed

[2022-04-19 21:10] muety commented on #53
I'd love to have this! Ideally even with support for different backends (e.g. [mysql](https://coredns.io/explugins/mysql/).

[2022-04-20 04:07] mholt commented on #53
I imagine this should be fairly easy to implement (esp. for someone familiar with the storage backend).

[2022-05-10 20:17] maetx777 opened #67 "implement nicrudns"
Hello!
I have created an implementation of nic.ru dns api.
https://github.com/maetx777/nicrudns

[2022-05-11 16:22] mholt commented on #67
Thanks for the contribution!

[2022-05-13 05:59] maetx777 opened #70 "Permission to libdns/nicrudns"
Hi!
Some time ago I have contributed (https://github.com/libdns/libdns/pull/68) nic.ru DNS API, you have created repo https://github.com/libdns/nicrudns , but I ahve not permission for publish:
[code]
Can u help me? What I am doing wrong?

[2022-05-14 04:51] mholt commented on #70
You have already been invited to the repo, you just need to accept the invitation.

<img width="523" alt="Screen Shot 2022-05-13 at 10 49 26 PM" src="https://user-images.githubusercontent.com/1128849/168411148-faf15181-2d2d-4c9d-b13b-6a1a6e33b9ec.png">

I saw your other comments [here](https://github.com/libdns/libdns/pull/68#issuecomment-1124582656) and [here](https://github.com/libdns/nicrudns/i

[2022-05-14 04:51] #70 closed

[2022-05-19 18:00] #31 closed

[2022-05-23 06:43] CL0Pinette opened #72 "Netlify Provider"
Hi, I've implemented libns for Netlify a few weeks ago : https://github.com/CL0Pinette/libdns-netlify. I still have to do the testing part so that it meets the requirements of libdns, but most of the work is already done.

I will try to make a PR asap.

[2022-05-23 19:53] mholt commented on #72
Great! Will be happy to review it.

[2022-05-29 21:00] #72 closed

[2022-05-30 09:46] CL0Pinette commented on #72
I have pushed and tagged the libdns module and caddy-dns implementation. I also registered the package on caddy.

[2022-06-14 19:11] maischus opened #74 "NameSilo: New provider"
Please add the missing implementation for NameSilo.com implementing the libdns interface.
https://github.com/maischus/namesilo

[2022-06-17 20:19] KoHcoJlb opened #75 "RFC2136 provider"
Hello, I'm implementing rfc2136 provider and I have a question regarding how TXT records should be handled in libdns.
By DNS specification TXT record can have multiple values, which in zone file are separated by spaces and quoted if they contain spaces themselves. How does this correlates with Record's Value field?

[2022-06-19 06:04] mholt commented on #75
Awesome, thanks for working on that!

Good question. I think a literal representation would be best. In other words, don't interpret the value at all. Don't interpret it as multiple values, just have it as-is. At least, that's my opinion/preference...

Aside: Perhaps we could add a `Values()` method to `Record` that could do the parsing as a convenience and return `[]string` if it's a multi-value

[2022-06-19 14:04] KoHcoJlb commented on #75
By as-is do you mean leave it in zone file format?

In fact that's the way I started to implement it when I faced with this confusion which, though seems more logical to me, would require users to quote value if it contains whitespaces. Moreover library which I'm using always quotes value during serialization, which will be the case when querying records from the server.

So I wanted to know what

[2022-06-20 17:06] mholt commented on #75
Yeah, I think so. `libdns` is a pretty low-level library, not really intended to interpret/parse record values. But I'd be OK with helper methods if there is a common need for some of that. But I don't think the low-level methods `Add/Set/Delete/Update` should do parsing/interpretation.

Anyway, this is a first for this question for `libdns`, so I'm just spitting out my initial thoughts here. What

[2022-06-20 17:42] KoHcoJlb commented on #75
Ok, so I will implement it this way and submit a PR.

[2022-06-20 17:46] mholt commented on #75
Thanks! If it turns out too clunky, awkward, or unworkable, we can revise it. But let's start with it this way first and see.

[2022-06-20 17:56] git001 opened #76 "DNSimple Provider"
I plan to add the https://github.com/dnsimple/dnsimple-go to libdns.

[2022-06-20 19:12] mholt commented on #40
Will be working on this shortly.

[2022-06-22 19:05] #75 closed

[2022-07-28 17:17] #55 closed

[2022-08-10 12:44] GVLocke opened #79 "Synology DNS"
Maybe trying to implement a new provider: the DNS service provided by my Synology NAS.

[2022-08-10 12:48] GVLocke commented on #79
nvmd. above my level

[2022-08-10 12:49] GVLocke commented on #79
😞

[2022-08-10 12:49] #79 closed

[2022-08-21 11:58] sphr2k commented on #22
Any news on this? :)

[2022-08-24 21:54] seriouz opened #80 "Implemented provider ddnss"
I implemented libdns for the provider ddnss (https://github.com/libdns/template/pull/2).

[2022-08-28 10:38] Plorenzo opened #81 "Dinahosting provider"
I've added [Dinahosting](https://dinahosting.com) as a provider here: https://github.com/libdns/template/pull/3

Also I was wondering why, after the review is done, a new repo is created from scratch instead of just forking the PR repo.

I think it will be better, to keep commit history and for maintainer attribution, to just do a fork in the libdns org of the contributor repo, but maybe I'm missi

[2022-08-30 05:02] mholt commented on #80
Accepted -- thanks for the contribution!

[2022-08-30 05:02] #80 closed

[2022-08-30 08:38] tuananh opened #82 "Question: is this project still active?"
is this project still active?

[2022-08-30 10:13] dirien opened #83 "Scaleway provider"
Hi @mholt

I created the Scaleway provider here -> https://github.com/dirien/scaleway and would like to donate to this organisation, so we can use it in Caddy-DNS 8https://github.com/caddy-dns)

Would like to create a provider for Civo too, so interessted to see how the transfer process is working.

[2022-08-30 10:16] dirien commented on #83
Ok, I found the instructions -> https://github.com/libdns/libdns/wiki/Implementing-providers

Will create an PR 😅

[2022-08-30 10:21] dirien commented on #83
Created PR #84

[2022-08-30 11:59] dirien opened #85 "Civo Provider"
Hi,

I created the libdns provider for Civo. -> https://github.com/dirien/civo

Will create an PR here to add the provider repo.

[2022-08-30 15:36] mholt commented on #82
Yes! Most activity is outside this repo where new providers are being implemented. 2 new providers were contributed just yesterday. See https://github.com/libdns

Most open issues are just requests for providers to be implemented and are waiting for contributors.

[2022-08-30 15:48] mholt commented on #76
Hey Aleks @git001 -- still have plans to do this?

[2022-08-30 16:01] mholt commented on #83
Thanks! Reviewed.

[2022-08-30 16:01] #83 closed

[2022-08-30 16:16] mholt commented on #85
Thank you -- reviewed!

[2022-08-30 16:16] #85 closed

[2022-08-30 16:17] #82 closed

[2022-08-30 21:20] git001 commented on #76
Sorry not time this year, for that :sob:
Should I close it and reopen when I have time for that?

[2022-08-30 21:31] mholt commented on #76
No, it's fine. I just wanted to get an update :)

[2022-10-06 18:41] katzeprior opened #88 "Claiming nja.la"
Claiming nja.la, going to add it here for caddy support for a friend who needs it :)

[2022-10-06 22:02] mholt commented on #88
@katzeprior https://github.com/libdns/libdns/compare -- see GitHub docs: https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request

[2022-10-06 22:05] katzeprior commented on #88
@mholt I know how to do normal pr requests, is my repo correct?
![image](https://user-images.githubusercontent.com/87608942/194427044-66fc1c61-8918-4a1c-94ea-c92f480a4bd1.png)
Can't select my katzeprior/njalla repo here
![image](https://user-images.githubusercontent.com/87608942/194427145-ea537735-fa99-48dd-8a0b-7704d7a6bd5c.png)

[2022-10-06 22:13] mholt commented on #88
You can make a PR to the template repo I guess. The point is just that I need a page where I can review the code.

[2022-10-07 13:22] Adphi commented on #44
Conformance tests would work.

The main library implements the main conformance tests logic. This is what [Cert-Manager](https://github.com/cert-manager/cert-manager/blob/master/test/acme/dns/options.go) or the [CSI](https://github.com/kubernetes-csi/csi-test/tree/master/pkg/sanity) does.
The conformance tests only takes a `Provider` and each provider must ensure tests pass, so they validate it wi

[2022-10-07 19:46] #88 closed

[2022-10-07 20:20] mholt commented on #44
I like that idea. It'd be awesome if it could somehow get each provider to use a mock DNS system somehow, operated by the conformance tests. But I don't know if that's feasible.

[2022-10-07 20:40] Adphi commented on #44
While working with multiple implementations (scaleway, ovh, hetzner and cloudflare) what I found is that you can manage the zones in this providers without actually using their dns servers 😊. It just needs an account. I used one of my test domains for all of them but it may even work with anything, e.g. example.org

I think it should not use a mock at all as it would just validate the mock. Confor

[2022-10-07 21:20] Adphi commented on #44
I know it is off topic but some kind of `Capabilities` interface to know what kind of records are supported by the provider could be very useful / helpful.

[2022-10-07 21:27] mholt commented on #44
Maybe, but I also kind of just expect DNS providers to support all the common record types, at least.

[2022-10-08 02:41] Adphi commented on #44
Exactly, you'd expect it. With capabilities, you'd be sure of it at runtime before any attempt.

[2022-10-08 03:24] mholt commented on #44
Let's talk about that in another issue perhaps

[2022-10-10 15:23] erri120 commented on #60
What is the status of this? #61 has been closed, but https://github.com/libdns/porkbun and https://github.com/caddy-dns/porkbun are empty.

[2022-10-10 23:35] Niallfitzy1 commented on #60
Thanks for the reminder, this completely slipped my mind.

Pushed the repos this evening:
[libdns/porkbun v0.1.0](https://github.com/libdns/porkbun/releases/tag/v0.1.0)
[caddy-dns/porkbun v0.1.0](https://github.com/caddy-dns/porkbun/releases/tag/v0.1.0)

[2022-10-10 23:45] mholt commented on #60
Awesome, thanks!

[2022-11-22 22:47] kmei3560 opened #90 "New provider: Total Uptime"
Hello, I'd like to build an integration with one of our providers Total Uptime.
Thanks!

[2022-11-23 00:02] kmei3560 commented on #90
Hey just a styling question. This provider tracks domains and records by an ID code (which is included as part of the URI in some calls).

Normally when I run into something like this, I optimize to just 1 API call for the entire domain list and then store that result in a global struct. Then I use that global as a cache for each subsequent call that needs to lookup an ID.

Is this style acceptabl

[2022-11-23 01:08] mholt commented on #90
You can do that, I think. Just make sure the API contract is not violated, so that your provider will work as documented & expected. :) But yeah, performance improvements (correct, safe ones) are always welcome!

[2022-11-30 13:07] jtermors opened #92 "Please add IPv64.net to the libdns"
API description:
https://ipv64.net/dyndns_updater_api.php

[2022-11-30 15:04] kmei3560 commented on #43
I'd like to take on this project if there is still interest in using this service `desec.io`